@font-face {
	font-family: 'OswaldAlt';
	src: url("../fonts/Oswald-ExtraLight.ttf");
}

* {
	font-family: 'OswaldAlt', Oswald, sans-serif;
	font-weight: 1;
	color: white;
	cursor: default;
}

body {
	background: url("../img/background_fade2.png") 100%;
	background-color: rgb(3, 19, 48);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p, ul {
	padding-right: 7%;
	padding-left: 7%;
	font-size: 25px;
	list-style-type: decimal;
}

a {
	cursor: pointer;
	font-style: initial;
}

.a {
	list-style-type: disc;
}

html {
	scroll-behavior: smooth;
}

img {
	border: 5px solid #555;
}

.center {
	font-size: 30px;
}

.center-big {
	padding-top: 12px;
	text-align: center;
	font-size: 50px;
}

.center-sub {
	padding-top: 2px;
	text-align: center;
	font-size: 30px;
}

.title {
	font-size: 40px;

	display: inline-block;
	text-decoration: none;
	color: white;
	border: currentColor 0.125em solid;
	padding: 0.2em .5em;
	border-radius: .25em;
	margin-left: 4%;
	margin-right: 4%;

	text-shadow:
		0 0 0.125em hsl(0, 10%, 80%),
		0 0 0.45em currentColor;
	box-shadow: 0 0 0.2em 0 white;

	position: relative;

	transition-duration: 200ms;
	transition-timing-function: ease;
}

.title::before {
	content: "";
	position: absolute;
	background: white;
	top: 120%;
	left: 0;
	width: 100%;
	height: 40%;

	transform: perspective(1em) rotateX(10deg) scale(1, 0.3);
	filter: blur(1em);
	opacity: 0.65;
}

.title:hover {
	box-shadow: 0 0 0.4em 0 white;
}

.header {
	background: url("../img/mp_extended.png");
	background-color: rgb(3, 30, 82);
	background-position: center bottom;
	padding-bottom: 10px;
	padding-top: 1px;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
	text-align: center;
	top: 0;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}